.container {
    margin-top: 150px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.table {
}

.smaller-column {
    width: 10%;
}

.medium-column {
    width: 20%;
}

.index-column {
    width: 5%;
}
